<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon class="example-icon">home</mat-icon>
      <span>Welcome Online Shop</span>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="toolbar button" mat-raised-button color="accent" routerLink="main">Главная</button>
      <button class="toolbar button" mat-raised-button color="accent" routerLink="products">Товары</button>
      <button class="toolbar button" mat-raised-button color="accent" routerLink="basket">
        <mat-icon matBadge="{{basketLength}}" class="example-icon" >shopping_cart_checkout</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
